extends base.pug

block main 
  .container
    h4.header.center.orange-text
      | Select a vehicle from the list or register a new one.
    .row
      each vehicle in vehicles
        .col.s12.m4
          .card.horizontal
            .card-stacked
              vehicle
                .card-content
                  p
                    | Plate: 
                    plate= vehicle.plate
                  p
                    | Name: 
                    name= vehicle.name
              .card-action
                a(href='#') This is a link
    .row.center
      a#new-vehicle-button.btn-large.waves-effect.waves-light(href='./register-vehicle' name='action') Register new vehicle
    br
    br
