extends base.pug

block main 
  #index-banner.section.no-pad-bot
    .container
      br
      br
      .row.center
        h5.header.col.s12.light Light up your vehicle's service history.
      form(action='./login' method='POST')
        .row.center.input-field
          .col.s12.m4.offset-m4
            .input-field
              input#password.validate.center-align(placeholder='Type your magic password' type='password' name='password' required='required' oninvalid="this.setCustomValidity('Type your magic password!')" oninput="this.setCustomValidity('')")
        .row.center
          button#download-button.btn-large.waves-effect.waves-light.orange(type='submit') LOGIN
      br
      br
  .container
    .section
      .row
        .col.s12.m4
          .icon-block
            h2.center.light-blue-text
              i.large.material-icons assignment
            h5.center Service history
            p.light Track the regular and extraordinary service history of your vehicle.
        .col.s12.m4
          .icon-block
            h2.center.light-blue-text
              i.large.material-icons settings
            h5.center Spare parts
            p.light Manage your spar parts, add pictures, specs and OEM codes.
        .col.s12.m4
          .icon-block
            h2.center.light-blue-text
              i.large.material-icons error
            h5.center Issues
            p.light Track the issues related to your vehicles providing description and pictures.
    br
    br