extends base.pug

block main 
  .container
    h4.header.center.orange-tex Fill in vehicle info
    .row
      form.col.s12.m4.offset-m4(action='./register-vehicle' method='POST')
        .row
          .input-field.col.s12
            input#name.validate(name='name' type='text')
            label(for='name') Name
        .row
          .input-field.col.s12
            input#plate.validate(name='plate' type='text')
            label(for='plate') Plate
        .row.center
          button#new-vehicle-button.btn-large.waves-effect.waves-light(type='submit') Register
    br
    br